RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^index.php [L]

ErrorDocument 400 /siteerrors/400.php
ErrorDocument 401 /siteerrors/401.php
ErrorDocument 402 /siteerrors/402.php
ErrorDocument 403 /siteerrors/403.php
ErrorDocument 404 /siteerrors/404.php
ErrorDocument 500 /siteerrors/500.php
ErrorDocument 501 /siteerrors/501.php
ErrorDocument 502 /siteerrors/502.php
ErrorDocument 503 /siteerrors/503.php