# Disabling Dirctory Listing
Options -Indexes

# Block access to certain files
<Files *.txt>
Order Deny,Allow
Deny from All
</Files>
<Files *.xml>
Order Deny,Allow
Deny from All
</Files>
<Files *.md>
Order Deny,Allow
Deny from All
</Files>

# Force Redirect to follow url standards
RewriteEngine on
RewriteCond %{HTTP_HOST} ^example.com [NC]
RewriteRule ^(.*)$ http://www.example.com/$1 [L,R=301,NC]

# Set up Custom Error Pages
ErrorDocument 400 /siteerrors/400.php
ErrorDocument 401 /siteerrors/401.php
ErrorDocument 402 /siteerrors/402.php
ErrorDocument 403 /siteerrors/403.php
ErrorDocument 404 /siteerrors/404.php
ErrorDocument 500 /siteerrors/500.php
ErrorDocument 501 /siteerrors/501.php
ErrorDocument 502 /siteerrors/502.php
ErrorDocument 503 /siteerrors/503.php