<link href="../../../libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<div class="container theme-showcase" role="main" style="margin-top:75px">
      <div class="jumbotron">
      	<h1> The Principal </h1>
      	<p class="lead">Place holder for an introduction for the principal of our school, his name, etc. etc. This item would be written by a third person. No let me fill up at least a couple of lines on the actual HTML text, so that I can get a sense of what I am doing. Basically, I am rattling, rattling on about nothing and absolutely nothing. But maybe there is a good side to it. I am being able to visualize my wepage's view.</p>
      </div>
	</div>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 hidden-xs">
		  <iframe width="854" height="510" src="//www.youtube.com/embed/wX78iKhInsc" frameborder="0" allowfullscreen></iframe>
		  <br/>
        </div>
        <div class="col-sm-3 visible-lg">
          <h3 style="margin-top:0px;">Other messages from the prinicpal's desk.</h3>
		  <iframe width="250" height="145" src="//www.youtube.com/embed/t4kyRyKyOpo" frameborder="0" allowfullscreen></iframe>
	      <br/>
		  <iframe width="250" height="145" src="//www.youtube.com/embed/t7pTpwMjQ5I" frameborder="0" allowfullscreen></iframe>
		  <br/>
		  <iframe width="250" height="145" src="//www.youtube.com/embed/7E9a24Nw6Cg" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12 visible-xs" style="margin-bottom:20px;">
      	  <a href="#" class="btn btn-danger btn-full"><h4>View on Youtube</h4></a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Transcript of the Message
                    <a href="http://www.youtube.com" class="btn btn-default col-lg-offset-8 hidden-xs"> View on Youtube </a>
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <p>My valued guests. Greetings to one and all.</p>
                  <p>It is my unique privilege to address you as the Principal of this esteemed institution founded on faith and nurtured by the co-operation and good will of many people known and unknown to me. This school has earned good reputation for it’s excellence in education and good discipline. We are passing through yet another milestone this year with improved infrastructure, electronic interactive classes and number of cultural and sports activities.</p>
                  <p>Now the school consists of 3500 plus children, a good dedicated team of over 109 teaching faculty and office administration. Education is a search and an act upon the truth but some times human beings forgot the way, after getting education, they feel that they know everything. They feel like experts and pride on their knowledge and education. But in fact education should teach us humility.</p>
                  <p>What you make of your education will decide nothing less than the future of this country. What you are learning today will determine whether we as a nation can meet our greatest challenges in the future. You will need the knowledge and the power solving skills, you will learn in science and mathematics, to cure terminal diseases like cancer, HIV/AIDS etc. and to develop new energy technologies and to protect our environment; you will need the insights and thinking skills you gain through the lessons of history and social studies to fight poverty, homelessness, crime and discriminations. You will need creativity and ingenuity, you develop in all your classes, to build new companies that will create new jobs and boost our economy. <br/><br/>
                  <p> We live in a world of scams and corruption; Natural calamities like earthquake and tsunamis that wash out people and nations. Fundamentalism is growing in cancerous proportions. Our problems are endless. It is into this world, children you are going. You need determination and dedication to confront all these maladies affecting our society.</p>
                  <p> Now we have 3500 plus children in our roll. From the inception of this temple of learning we have had excellent results and we improve year after year. This year the school has started one class in the CBSE stream also at the demand from the public. We also plan to start D.Ed. and B.Ed. courses as an extension of our education process in the new land procured for that purpose. The Mar Thoma Education Society manages the school ably and efficiently.</p>
                  <p> The school has started class XI in year 2011 in science stream. Expert faculties are handling the classes.</p>
                  <p> We have facilities for regular medical care/check ups, counseling remedial teaching of the weak, myriad opportunities for Cultural and Sports activities etc. Our main focus is to inculcate good values in the children. This year our theme is “INTEGRITY AS BASIS FOR SUCCESS”.</p>
                  <p> We also do a lot of charity work around our school, for example the Gramjyoti School where we give free education for 300 plus children up to class V, adult literacy programmes, free tuition centre, tailoring institution etc. We need to address the problems of our brethren who are less fortunate than us.</p>
                  <p> We love to see our St. Thomasians shine in their respective areas of service in different nations and countries and we are proud of them. We want to be connected with them through our website also.</p>
                  <p> Good wishes to all of you.</p>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
      <br/>
    </div>
    <div class="container theme-showcase" role="main" style="margin-top:75px">
      <br>
		<div class="jumbotron">
      	  <h1>Marthoma Educational Society</h1>
      	  <p class="lead">The Marthoma Educational Society, Bihar is a registered charitable society under charitable society act. It was registered in the year 1974 (Regd. No. 113-1974-75). The members of the society constitute the governing body of the school. It has been managing school since 1973. Maybe we can write a little more on this.</p>
      </div>
      <div class="text-center">
      <h2>Management Committee Members</h2><br/>
      	<label class="col-sm-3">
          <div class="row"><img src="/images/avatar-blank.png" alt="Photograph" class="img-thumbnail"/></div>
          <div class="row"><h5>Name of Person<br/><small>The Post of the Person</small></h5></div>
        </label>
      	<label class="col-sm-3">
          <div class="row"><img src="/images/avatar-blank.png" alt="Photograph" class="img-thumbnail"/></div>
          <div class="row"><h5>Name of Person<br/><small>The Post of the Person</small></h5></div>
        </label>
      	<label class="col-sm-3">
          <div class="row"><img src="/images/avatar-blank.png" alt="Photograph" class="img-thumbnail"/></div>
          <div class="row"><h5>Name of Person<br/><small>The Post of the Person</small></h5></div>
        </label>
      	<label class="col-sm-3">
          <div class="row"><img src="/images/avatar-blank.png" alt="Photograph" class="img-thumbnail"/></div>
          <div class="row"><h5>Name of Person<br/><small>The Post of the Person</small></h5></div>
        </label>
      <br/><h2>Comittee Members</h3><br/>
      	<label class="col-lg-2">
          <div class="row"><img src="/images/avatar-blank.png" class="img-thumbnail img-responsive" width="150" height="150"/></div>
          <div class="row text-center"><h5>Name<br/><small>Post</small></h5></div>
        </label>
      	<label class="col-lg-2">
          <div class="row"><img src="/images/avatar-blank.png" class="img-thumbnail img-responsive" width="150" height="150"/></div>
          <div class="row text-center"><h5>Name<br/><small>Post</small></h5></div>
        </label>
      	<label class="col-lg-2">
          <div class="row"><img src="/images/avatar-blank.png" class="img-thumbnail img-responsive" width="150" height="150"/></div>
          <div class="row text-center"><h5>Name<br/><small>Post</small></h5></div>
        </label>
      	<label class="col-lg-2">
          <div class="row"><img src="/images/avatar-blank.png" class="img-thumbnail img-responsive" width="150" height="150"/></div>
          <div class="row text-center"><h5>Name<br/><small>Post</small></h5></div>
        </label>
      	<label class="col-lg-2">
          <div class="row"><img src="/images/avatar-blank.png" class="img-thumbnail img-responsive" width="150" height="150"/></div>
          <div class="row text-center"><h5>Name<br/><small>Post</small></h5></div>
        </label>
      	<label class="col-lg-2">
          <div class="row"><img src="/images/avatar-blank.png" class="img-thumbnail img-responsive" width="150" height="150"/></div>
          <div class="row text-center"><h5>Name<br/><small>Post</small></h5></div>
        </label>
      </div>
    </div>
  </body>
</html>