  <!-- ANNOUNCEMENTS
	 ================================================== -->
  	<br class="featurette-divider"/>
    <div class="container featurette">
	  <h2 class="featurette-heading">News and Announcements <small>The School Newsletter</small></h2>
      <div class="row">
		<div class="col-lg-3 news-container">
          <div class="news-box">
            <table class="table table-bordered table-responsive table-striped">
              <tbody class="text-center">
                <tr style="background-color:#F8612A; color:#FFF"><td>
                  <b>School closed on 23 and 24 November</b>
                </td></tr>
                <tr><td>
                  The School will remain closed on the 23rd and 24th of November on account of Ranchi Bandh. School will be open on the Saturday 27th to compensate for this.
                </td></tr>
              </tbody>
            </table> 
  	      </div>
        </div>
		<div class="col-lg-3 news-container">
          <div class="news-box">
            <table class="table table-bordered table-responsive table-striped">
              <tbody class="text-center">
                <tr style="background-color:#3A3A3A; color:#FFF"><td>
                  <b>School closed on 23 and 24 November</b>
                </td></tr>
                <tr><td>
                  The School will remain closed on the 23rd and 24th of November on account of Ranchi Bandh. School will be open on the Saturday 27th to compensate for this.
                </td></tr>
                <tr><td>
                  <a class="btn btn-primary">Read full story</a>
                </td></tr>
              </tbody>
            </table> 
  	      </div>
        </div>
		<div class="col-lg-3 news-container">
          <div class="news-box">
            <table class="table table-bordered table-responsive table-striped">
              <tbody class="text-center">
                <tr style="background-color:#4A993E; color:#FFF"><td>
                  <b>School closed on 23 and 24 November</b>
                </td></tr>
                <tr><td>
                  The School will remain closed on the 23rd and 24th of November on account of Ranchi Bandh. School will be open on the Saturday 27th to compensate for this.
                </td></tr>
              </tbody>
            </table> 
  	      </div>
        </div>
		<div class="col-lg-3 news-container">
          <div class="news-box">
            <table class="table table-bordered table-responsive table-striped">
              <tbody class="text-center">
                <tr style="background-color:#8811AA; color:#FFF"><td>
                  <b>School closed on 23 and 24 November</b>
                </td></tr>
                <tr><td>
                  The School will remain closed on the 23rd and 24th of November on account of Ranchi Bandh. School will be open on the Saturday 27th to compensate for this.
                </td></tr>
              </tbody>
            </table> 
  	      </div>
        </div>
      </div>
      <div class="row">
		<div class="col-lg-3 news-container">
          <div class="news-box">
            <table class="table table-bordered table-responsive table-striped">
              <tbody class="text-center">
                <tr style="background-color:#F8612A; color:#FFF"><td>
                  <b>School closed on 23 and 24 November</b>
                </td></tr>
                <tr><td>
                  The School will remain closed on the 23rd and 24th of November on account of Ranchi Bandh. School will be open on the Saturday 27th to compensate for this.
                </td></tr>
              </tbody>
            </table> 
  	      </div>
        </div>
		<div class="col-lg-3 news-container">
          <div class="news-box">
            <table class="table table-bordered table-responsive table-striped">
              <tbody class="text-center">
                <tr style="background-color:#3A3A3A; color:#FFF"><td>
                  <b>School closed on 23 and 24 November</b>
                </td></tr>
                <tr><td>
                  The School will remain closed on the 23rd and 24th of November on account of Ranchi Bandh. School will be open on the Saturday 27th to compensate for this.
                </td></tr>
              </tbody>
            </table> 
  	      </div>
        </div>
		<div class="col-lg-3 news-container">
          <div class="news-box">
            <table class="table table-bordered table-responsive table-striped">
              <tbody class="text-center">
                <tr style="background-color:#4A993E; color:#FFF"><td>
                  <b>School closed on 23 and 24 November</b>
                </td></tr>
                <tr><td>
                  The School will remain closed on the 23rd and 24th of November on account of Ranchi Bandh. School will be open on the Saturday 27th to compensate for this.
                </td></tr>
              </tbody>
            </table> 
  	      </div>
        </div>
		<div class="col-lg-3 news-container">
          <div class="news-box">
            <table class="table table-bordered table-responsive table-striped">
              <tbody class="text-center">
                <tr style="background-color:#8811AA; color:#FFF"><td>
                  <b>School closed on 23 and 24 November</b>
                </td></tr>
                <tr><td>
                  The School will remain closed on the 23rd and 24th of November on account of Ranchi Bandh. School will be open on the Saturday 27th to compensate for this.
                </td></tr>
              </tbody>
            </table> 
  	      </div>
        </div>
      </div>
      <hr class="featurette-divider"/>
      <div id="school-newsletter" class="row featurette">
      	<h2 class="featurette-heading">Subscribe to the Newsletter</h2><br/>
        <p class="lead col-lg-10">Get an email subscription to all of the activities in school. You may also select specific items of your interest from our news feed.</p>
        <a class="btn btn-success col-lg-2" style="padding:20px;">Sign up for the <br/> St. Thomas Newsletter</a>
      </div>
      <div id="school-message" class="row featurette">
      	<h2 class="featurette-heading">Get the Message alert</h2><br/>
        <p class="lead col-lg-10">If you haven't already, then sign up for the schools automatic message service and get messages customized just for you. Holidays, Sports, Quizzes, Volunteer Work, take your pick.</p>
        <a class="btn btn-danger col-lg-2" style="padding:20px;">Start getting messages </a>
      </div>
      <div id="school-editors" class="row featurette">
      	<h2 class="featurette-heading">Have your articles published</h2><br/>
        <p class="lead col-lg-10">Have an article that you would like us to publish here. Or want to become one of the permanent editors. Send it to the editors right from here, and that could very well happen.</p>
        <a class="btn btn-primary col-lg-2" style="padding:20px;">Send us your Articles</a>
      </div>
      <div id="school-editors" class="row featurette">
      	<h2 class="featurette-heading">The News Archives</h2><br/>
        <p class="lead col-lg-10">Want to look up and old story of article from the archives. Its right here.</p>
        <a class="btn btn-default col-lg-2" style="padding:20px;">View the Archives</a>
      </div>
    </div>
  </body>
</html>