.img-circle {
	border-radius: 50%;
	margin-bottom: 20px;
}

h1.condensed, h2.condensed {
	line-height:50px;
}

/*
 * Use the hoverlight class to usually with small white divs, to make them 
 * go blue when hovered on, and the text white, and give an appearance of being selected
 */
div.hoverlight div
{
	transition-delay: 0s;
	transition-duration: 0.2s;
	transition-property: all;
	transition-timing-function: linear;
}
div.hoverlight div:hover {
	background-color:#008cba;
	color:#FFF;
}
div.hoverlight div:hover h1,
div.hoverlight div:hover h2,
div.hoverlight div:hover h3,
div.hoverlight div:hover h4,
div.hoverlight div:hover h5,
div.hoverlight div:hover h6,
div.hoverlight div:hover small,
div.hoverlight div:hover div,
div.hoverlight div:hover span,
div.hoverlight div:hover p {
	color:#FFF;
}

/*
 * Use this on a div with class columns which has a parent with class row.
 */
.border-box {
	border: 2px solid #efefef;
	padding: 15px;
	padding-top: 25px;
	margin-bottom:20px;
}
.border-box.fluid {
	padding: 0px;
}
.border-box div.container {
	padding: 15px;
	color:#666;
}
.border-box div.heading h1 {
	color:#FFF
}
.border-box hr {
	margin:0px;
}

/* 
 * Have an anchor tag nested in a div with class side-tab.
 * This element uses -webkit properties, to check for browser compatability issues.
 */
.side-tab {
	-webkit-transform: matrix(6.12323399573677e-17, -1, 1, 6.12323399573677e-17, 0, 0);
	-webkit-transform-origin: 0px 0px;
	font-family: 'Open Sans', Verdana, Geneva, sans-serif, sans-serif;
	font-size: 18px;
	font-style: normal;
	height: 34px;
	position: fixed;
	top: 350px;
	left: 0px;
}
.side-tab a {
	border-color: rgb(204, 204, 204);
	border-style: solid;
	border-width: 1px;
	border-top-style: none;
	color: rgba(51, 51, 51, 0.74902);
	display: inline-block;
	height: 16px;
	line-height: 16px;
	padding: 6px 22px 11px 22px;
	text-decoration: none;
	transition-delay: 0s;
	transition-duration: 0.1s;
	transition-property: all;
	transition-timing-function: linear;
	height: 35px;
}
.side-tab a:link:hover, .side-tab a:link:focus, .side-tab a:visited:hover, .side-tab a:visited:focus {
	color:#fff !important;
	background:#1d9dd9
}

/* 
 * Add the class el-radio to a label which has a radio input element inside it.
 */
.el-radio li label input {
	height:20px;
	display:none;
}
.el-radio label {
	padding-left:0px;
	padding-right:0px;
	text-align:center;
	margin-bottom:1px;
	width:100%;
}
.el-radio li label.button.active,
.el-radio li label.button.active:hover {
	background-color:#005085;
}
.el-radio li label.button.alert.active,
.el-radio li label.button.alert.active:hover {
	background-color:#A00000;
}
.el-radio li label.button.secondary.active,
.el-radio li label.button.secondary.active:hover {
	background-color:#AAAAAA;
}
.el-radio li label.button.success.active,
.el-radio li label.button.success.active:hover {
	background-color:#226f44;
}
.el-radio li label.button.warning.active,
.el-radio li label.button.warning.active:hover {
	background-color:#af4e03;
}
@media only screen 
{
	.button-group li {
		width:100%;
	}
}
@media only screen and (min-width: 40.063em)
{
	.button-group li {
		width:33%;
	}
}