body {
    background-color:#ddd;
    max-height:500px;
    padding:25px;
}

section{
    padding-left:50px;
    padding-right:50px;
}

ul {
    margin-left:0;
}

label {
    font-size: 15px;
    line-height: 50px;
}

.form {
    padding: 15px;
}
.form i {
    font-size: 30px;
    line-height: 50px;
    color: #555;
}
.form form input, .form form span {
    height: 50px;
}
.form .welcome {
    font-size: 26px;
    text-align: center;
    margin-left: 0;
}
.form .prefix {
    height: 3.1290rem;
}
.form a {
    width:100%;
}