body {
    background-color:#ddd;
    max-height:500px;
    padding:25px;
}

section{
    padding-left:50px;
    padding-right:50px;
}

ul {
    margin-left:0;
}

label {
    font-size: 15px;
    line-height: 50px;
}

.signUp-panel {
    padding: 15px;
}
.signUp-panel i {
    font-size: 30px;
    line-height: 50px;
    color: #555;
}
.signUp-panel form input, .signup-panel form span {
    height: 50px;
}
.signUp-panel .welcome {
    font-size: 26px;
    text-align: center;
    margin-left: 0;
}
.signUp-panel .prefix {
    height: 3.1290rem;
}
.signUp-panel a {
    width:100%;
}