{% extends 'stthomas/layout.html' %}

{% block static %}
    {% load staticfiles %}
    <link href="/stylesheets/elements.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}

    {% load staticfiles %}

    <br class="featurette-divider"/>
    <div class="container">
        <h2 class="featurette-heading">News and Announcements <small>The School Newsletter</small></h2>
        <br class="featurette-divider"/>
        <div class="row news-small">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="border-box" style="padding-top:0;">
                    <div>
                        <h3>New Important Item</h3>
                        <p>This will be a short notice accompanying the said news item. This item should be of greater and more immediate importance from the others. This can be something like a Holiday, or a notice that will change things at school, and almost never an event or a result.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="border-box" style="padding-top:0;">
                    <div>
                        <h3>New Important Item</h3>
                        <p>This will be a short notice accompanying the said news item. This item should be of greater and more immediate importance from the others. This can be something like a Holiday, or a notice that will change things at school, and almost never an event or a result.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row news-small">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="border-box" style="padding-top:0;">
                    <div>
                        <h3>New Item</h3>
                        <p>This will be a short notice accompanying the said news item</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="border-box" style="padding-top:0;">
                    <div>
                        <h3>New Item</h3>
                        <p>This will be a short notice accompanying the said news item</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="border-box" style="padding-top:0;">
                    <div>
                        <h3>New Item</h3>
                        <p>This will be a short notice accompanying the said news item</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="border-box" style="padding-top:0;">
                    <div>
                        <h3>New Item</h3>
                        <p>This will be a short notice accompanying the said news item</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="border-box" style="padding-top:0;">
                    <div>
                        <h3>New Item</h3>
                        <p>This will be a short notice accompanying the said news item</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="border-box" style="padding-top:0;">
                    <div>
                        <h3>New Item</h3>
                        <p>This will be a short notice accompanying the said news item</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="border-box" style="padding-top:0;">
                    <div>
                        <h3>New Item</h3>
                        <p>This will be a short notice accompanying the said news item</p>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div>
            <hr class="featurette-divider"/>
            <div id="school-newsletter" class="row">
                <h1>Subscribe to the Newsletter</h1><br/>
                <p class="lead col-lg-10">Get an email subscription to all of the activities in school. You may also select specific items of your interest from our news feed.</p>
                <a class="btn btn-success col-lg-2" style="padding:20px;">Sign up for the<br/>St. Thomas Newsletter</a>
            </div>
            <div id="school-message" class="row">
                <h1>Get the Message alert</h1><br/>
                <p class="lead col-lg-10">If you haven't already, then sign up for the schools automatic message service and get messages customized just for you. Holidays, Sports, Quizzes, Volunteer Work, take your pick.</p>
                <a class="btn btn-danger col-lg-2" style="padding:20px;">Start getting messages </a>
            </div>
            <div id="school-editors" class="row">
                <h1>Have your articles published</h1><br/>
                <p class="lead col-lg-10">Have an article that you would like us to publish here. Or want to become one of the permanent editors. Send it to the editors right from here, and that could very well happen.</p>
                <a class="btn btn-primary col-lg-2" style="padding:20px;">Send us your Articles</a>
            </div>
            <div id="school-archives" class="row">
                <h1>The News Archives</h1><br/>
                <p class="lead col-lg-10">Want to look up and old story of article from the archives. Its right here.</p>
                <a class="btn btn-default col-lg-2" style="padding:20px;">View the Archives</a>
            </div>
        </div>
    </div>

{% endblock %}