.paragraph-transcript
{
	text-align:justify;
}
.toggle-transcript
{
	cursor:pointer;
}
.icon-transcript
{
	margin-left:20px;
}
#container-transcript
{
	text-align:justify;
	float:left;
}
.youtube-link-video
{
	margin-right:20px;
}
.btn-justify
{
	width:100%;
	text-align:center;
}
.btn-justify a
{
	width:60%;
}
#contact-us-list
{
	margin-right:50px;
}
#margin-adjust-contactus-header
{
	margin-left:100px;
}
.wrap-image-1
{
	width:20%;
	text-align:center;
}
.wrap-image-2
{
	width:13%;
	text-align:center;
}
.center-wrap
{
	text-align:center
}